.flexslider .slides li {
    position: relative;
}
.flexslider .el_beatles  {
    position: absolute;
    border: 3px solid rgba(255,255,255,0);
}
.slide-image {
    width: 100%;
    overflow: hidden;
}

.tooltip {
    position:absolute;
    border:1px solid black;
    background-color:#fff;
    border-radius:3px;
    padding: 4px 15px;
    color:black;
    font-size: 16px;
    opacity: 1;
}